# Core functionality - changes here should be rare!
/src/app.py                   @ayachaieb
/src/backend/database.py      @ayachaieb
/src/backend/routers/auth.py  @ayachaieb

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ayachaieb
